* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background: #f2f2f2;
    color: #111;
}

.container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 40px;
}

.header {
    margin-bottom: 10px;
}

.header h1 {
    font-size: 34px;
    font-weight: 700;
}
.m-gif 

.role {
    font-size: 16px;
    color: #555;
}


hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 16px 0;
    width: 100%;
}
.contact {
    font-size: 14px;
    color: #444;
    margin-bottom: 30px;
}

.contact p {
    margin-bottom: 4px;
}

.contact p a {
    color: #444;
    text-decoration: none;
}
.contact p a:hover {
    text-decoration: underline;
}
.contact p {
    display: inline-block;
    margin-right: 15px;
    width: 340px;
}
.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
    padding-left: 12px;
    border-left: 4px solid #2563eb;
    color: #0f172a;
    border-radius: 4px;
    background: #0000000d;
    height: 30px;
    line-height: 30px;
}



.item {
    margin-bottom: 16px;
}

.item h3 {
    font-size: 16px;
    font-weight: 600;
}

.item span {
    font-size: 13px;
    color: #666;
}

.item p {
    font-size: 14px;
    margin-top: 4px;
}

ul {
    padding-left: 18px;
}

li {
    font-size: 14px;
    margin-bottom: 6px;
}
.footer {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}